.form {
  width: 40rem;
}

.form-input {
  border: none;
  outline: none;
  padding: 1rem 1.75rem;
  width: 70%;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: inherit;
}

.form-btn {
  width: 30%;
  outline: none;
  border: none;
  background-color: var(--clr-primary-5);
  color: #fff;
  font-size: 2rem;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
}

.error {
  border: 2px solid var(--clr-red-dark);
}

@media only screen and (max-width: 50em) {
  .form {
    width: 30rem;
  }
}
